.projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: var(--light-bg-color);
    padding-bottom: 60px;
    position: relative;
}

.projectContainer {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--light-container-bg-color);
    margin-bottom: 20px;
}

.projectTitle {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.projectDescription {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.projectLink {
    color: var(--light-link-color);
    text-decoration: none;
}

.projectLink:hover {
    text-decoration: underline;
}

.title {
    max-width: 24ch;
    align-self: center;
    color: var(--light-accent-color);
    margin-top: 20px;
}

.languagesContainer {
    margin-top: 10px;
}

.languagesTitle {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.languagesList {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.languageItem {
    background-color: var(--light-accent-color);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'IBM Plex Sans', sans-serif;
}
.customShapeDividerBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.customShapeDividerBottom svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 100px;
}

.shapeFill {
    fill: var(--dark-bg-color);
}
