.projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background: url("/src/assets/background.png") no-repeat top center fixed;
    background-size: cover;
    padding-top: 50px;
    position: relative;
    min-height: calc(100vh - 40px);
    width: 100vw;
    color: var(--text-color);
}

.projectsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin-top: 30px;
    overflow-x: visible;
}

.projectContainer {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--container-bg-color);
    margin: 20px
}

.projectTitle {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.projectDescription {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.projectLink {
    color: var(--link-color);
    text-decoration: none;
}

.projectLink:hover {
    text-decoration: underline;
}

.title {
    align-self: center;
    margin-top: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 3rem;
    text-align: center;
    flex-shrink: 0;
}

.languagesContainer {
    margin-top: 10px;
}

.languagesList {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.languageItem {
    background-color: var(--accent-color);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'IBM Plex Sans', sans-serif;
}

@media (max-width: 768px) {
    .project {
        min-height: calc(100svh - 40px);
    }

    .projectsGrid {
        grid-template-columns: 1fr;
    }
}
