.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    text-align: center;
    height: 100vh;
    min-height: 500px;
    width: 100vw;
    align-items: center;
    background-color: var(--dark-bg-color);
    position: relative;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: fadeUp 1.5s ease-out forwards;
}

.socialMedia {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.socialMedia a {
    margin: 0;
}

.socialMedia img {
    width: 45px;
}

.title {
    font-size: 5rem;
    align-self: center;
    color: var(--dark-accent-color);
}

.description {
    max-width: 24ch;
    align-self: center;
    color: var(--dark-text-color);
    animation: fadeUp 1.5s ease-out forwards;
}

.shapeDivider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.shapeDivider svg {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.shapeFill {
    fill: var(--light-bg-color);
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 3.5rem;
        max-width: 7ch;
    }
    .shapeDivider svg {
        height: 50px;
    }
}
