.home {
    width: 100%;
    height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    color: var(--text-color);
}

.info {
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 12px;
    width: 700px;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border: 1px rgba(255, 255, 255, 0.38) solid;
}

.innerGlass {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}


.title {
    font-size: 3rem;
    color: var(--text-color);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    text-decoration: var(--accent-color) underline;
    cursor: default;
}

.description {
    font-size: 1.2rem;
    color: var(--text-color);
    margin: 20px 0;
    line-height: 1.6;
    text-align: left;
}

.ctaButtons {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 5px;
    overflow: hidden;
}

.button {
    padding: 12px 0 12px 0;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    width: 150px;
    text-align: center;
    background: var(--button-color);
    color: #000000;
    border: 1px rgba(255, 255, 255, 0.38) solid;
}

.button:hover {
    background: #9c9c9c;
    transform: scale(1.1);
}

.button:focus {
    outline: none;
}

.socialMedia {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    overflow: hidden;
}

.socialMedia a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease;
}

.socialMedia a:hover {
    transform: scale(1.1);
}

.icon {
    width: 50px;
    transition: all 0.3s ease;
}

.label {
    margin-top: 8px;
    font-size: 1rem;
    color: var(--text-color);
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;
        align-items: center;
        height: calc(100svh - 40px);
        padding: 0;
    }

    .info {
        margin-top: 60px;
        width: 90%;
        padding: 20px;
    }

    .title {
        font-size: 2rem;
    }

    .description {
        font-size: 1rem;
    }

    .socialMedia {
        gap: 30px;
    }

    .ctaButtons{
        padding: 0;
    }

    .icon {
        width: 40px;
    }

    .label {
        font-size: 0.8rem;
    }
}
