.about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background: linear-gradient(135deg, #024637, #034323, #025f49);
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    min-height: calc(100dvh - 70px);
    width: 100vw;
    color: var(--text-color);
}

.title {
    align-self: center;
    margin-top: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 3rem;
    text-align: center;
    flex-shrink: 0;
    text-decoration: underline;
}

.contentContainer {
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "profile bio"
        "skills skills";
}

.profileContainer {
    background-color: var(--container-bg-color);
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    grid-area: profile;
}

.profileImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 24px;
    border: 1px solid #ccc;
}

.text {
    flex: 2;
    font-size: 1.2rem;
    color: var(--text-color);
    margin: 1rem;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-top: 35px;
    overflow-x: visible;
}

.button {
    padding: 8px 0;
    background-color: var(--accent-color);
    color: var(--text-color);
    text-decoration: underline;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    transition: all 0.3s ease;
    font-weight: 600;
    text-transform: uppercase;
    width: 240px;
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(1);
}

.bioContainer {
    background-color: var(--container-bg-color);
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    border: 1px solid #ccc;
    padding: 20px;
    grid-area: bio;
}

.skillsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-area: skills;
    padding-top: 20px;
}

.skillCategory {
    background-color: var(--container-bg-color);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
    border: 1px solid #ccc;
    font-family: 'Poppins', sans-serif;
}

.skillCategoryTitle {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 10px;
    text-align: center;
}

.skillList {
    list-style: none;
    padding-left: 0;
}

.skillItem {
    background-color: var(--accent-color);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
    border: 1px solid #33ae71;
}

@media (max-width: 915px) {
    .skillsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .contentContainer {
        grid-template-columns: 1fr;
        grid-template-areas:
            "profile"
            "bio"
            "skills";
    }

    .title {
        font-size: 2.5rem;
    }

    .profileContainer, .bioContainer {
        height: auto;
    }

    .skillsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .skillsContainer {
        grid-template-columns: 1fr;
    }
}
