.projects {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
    color: var(--text-color);
    flex-direction: column;
}

.container {
    padding: 60px;
    border-radius: 16px;
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title {
    font-size: 3.5rem;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
    cursor: default;
}

.projectContainer {
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 12px;
    border: 1px rgba(255, 255, 255, 0.38) solid;
}

.innerGlass {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.projectTitle {
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 3px solid var(--accent-color);
    cursor: default;
}

.projectDescription {
    font-size: 1.4rem;
    line-height: 1.8;
    text-align: left;
    margin-bottom: 15px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.projectLink {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
}

.projectLink:hover {
    text-decoration: underline;
}

.languagesList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.languageItem {
    background: rgb(0 0 0 / 75%);
    border-radius: 8px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    border: 1px solid #ffffff3b;
    font-size: 1.1rem;
}

@media (max-width: 1024px) {
    .projects{
        min-height: calc(100svh - 40px);
    }

    .container {
        width: 95%;
    }

    .title {
        font-size: 3rem;
    }

    .projectTitle {
        font-size: 1.8rem;
    }

    .projectDescription {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .container{
        padding: 10px;
        width: auto;
    }

    .title {
        font-size: 2.8rem;
    }

    .projectTitle {
        font-size: 1.6rem;
    }

    .projectDescription {
        font-size: 1.1rem;
    }
}
