:root {
    /* Dark Theme Variables */
    --dark-bg-color: #1e3a33;
    --dark-text-color: #fdfdfd;
    --dark-accent-color: #dfa831;
    --dark-container-bg-color: #22292f;

    /* Light Theme Variables */
    --light-bg-color: #fff;
    --light-text-color: #fff;
    --light-accent-color: #fff;
    --light-container-bg-color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark-bg-color);
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
}

h1,h2,h3, p{
    color: var(--dark-text-color);
    margin: 0;
    padding: 0;
}

h1,h2,h3,p{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 3rem;
}

p{
    font-size: 2vw;
    font-weight: 320;
}

.sectionTitle{
    margin-bottom: 30px;
}